TEST_MODE=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_MESSAGING_SERVICE=
OPENROUTER_API_KEY=
TWILIO_API_KEY=
TWILIO_API_SECRET=
ERNEST_PHONE=
CASEY_PHONE=
GROQ_API_KEY=
CRON_SECRET=
DEPLOY_SECRET=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
MOJO_PASSWORD=
RESEND_API_KEY=
